$background-color: #f0f0f0;
$background-color-alt: #dff0d8;
$text-color: #333;
$primary-color: #3498db;
$secondary-color: #2ecc71;

$font-stack: 'Arial', sans-serif;

/*----- Color -----*/
$color-light-1: #dcdcdc;
$color-content-primary: rgb(214, 214, 214);

$color-dark-1: #000;
$color-link-hover-1: gold;

/*----- Background Color -----*/
$bg-dark-1: rgba(0, 0, 0, 0.8);
$bg-dark-default: rgb(32, 33, 36);
$bg-dark-accent: rgba(0, 0, 0, 0.5); /* black */
$bg-dark-mute: rgba(0, 0, 0, 0.3);

$bg-gray-1: rgba(128, 128, 128, 10); /* Grey */

/*----- Font-Size -----*/
$font-size-title-main-1: 35px;
$font-size-title-main-2: 40px;
$font-size-title-main-3: 28px;
$font-size-span-title-main-1: 25px;

$font-size-header-1: 40px;
$font-size-header-2: 35px;

$font-size-text-default: 16px;

/*----- Font Weight -----*/
$font-weight-1: 600;
$font-weight-2: 500;
$font-weight-3: 400;

/*----- border -----*/
$border-light-default: 1px solid #fff;
$border-light-mute: 1px solid rgba(128, 128, 128, 10);
$border-accent-mute: 2px solid rgba(178, 34, 34, 0.3);

/*----- border-radius -----*/
$border-radius-link-default: 5px;
$border-radius-block-default: 5px;

/*----- text__accent-padding -----*/
$text-accent-padding: 3px 5px 3px 5px;
