@use '../base/_variables' as *;

.margin__main {
  margin: 0 150px 0 150px;
}

.main {
  padding: 40px;
  //background: green;
  max-width: 100%;
}

.main__wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__title-1 {
  font-size: $font-size-title-main-1;
  font-weight: $font-weight-3;
  margin-top: 30px;
  margin-bottom: 40px;
}

.main__title-2 {
  font-size: $font-size-title-main-2;
  font-weight: $font-weight-2;
}

.main__title-3 {
  font-size: $font-size-title-main-3;
  font-weight: $font-weight-3;
}

.main__span-title-1 {
  font-size: $font-size-span-title-main-1;
  font-weight: 400;
}

.main__link-default {
  color: $color-content-primary;
  text-decoration: none;
  &:hover {
    color: $color-link-hover-1;
  }
}

.header2__bread-crumbs {
  display: flex;
  gap: 20px;
}

.back-link {
  padding: 10px;
  background-color: $bg-gray-1;
  color: $color-dark-1;
  border-radius: $border-radius-link-default;
  font-size: 25px;
  text-decoration: none;
  max-height: 50px;

  &:hover {
    color: $color-link-hover-1;
  }
}

.external__link {
  text-decoration: underline;
  color: $color-light-1;
}

.download__link {
  text-decoration: underline;
  color: $color-light-1;
}

.main__list-1 {
  display: flex;
  flex-direction: column;
  font-size: $font-size-main__list-1;
  gap: 5px;
  margin-left: 50px;
  list-style: none;
}

.main__list-1-item {
  list-style: none;
}

.main__list-2 {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  gap: 5px;
  margin-left: 50px;
}

.main__list-2-item {
  list-style-type: square;
}

.run__code-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  border: $border-light-mute;
  border-radius: $border-radius-block-default;
  background-color: $bg-dark-mute;
}

.run__code-link {
  color: $color-light-1;
  text-decoration: none;
  padding: 10px;
  background-color: $bg-gray-1;
  border-radius: $border-radius-link-default;

  &:hover {
    color: $color-link-hover-1;
  }
}

.main__text-accent {
  padding: $text-accent-padding-2;
  border: $border-light-mute;
  border-radius: 3px;
  background-color: $bg-text-accent;
  color: #000;
}

.text__accent-padding {
  padding: $text-accent-padding;
  border: $border-light-mute;
  border-radius: 3px;
  font-size: 14px;
  margin: 0 5px 0 5px;
  background-color: $bg-dark-accent;
}

.code__example-block {
  font-size: 1rem;
  border: $border-accent-mute;
  border-radius: $border-radius-block-default;
  background-color: $bg-dark-accent;
  padding: 1.5rem;
}
